CMakeLists.txt.user
build/cmake_install.cmake
build/CMakeCache.txt
build/compile_commands.json
build/FindEigen.cmake
build/Makefile
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-fb163d27633d3fac87aa.json
build/.cmake/api/v1/reply/codemodel-v2-3686e3840612fb0dc028.json
build/.cmake/api/v1/reply/index-2020-05-14T10-01-30-0465.json
build/.cmake/api/v1/reply/target-TensorGraph_autogen-Debug-338902123b93be310168.json
build/.cmake/api/v1/reply/target-TensorGraph-Debug-3a36e38c5d36c88ec368.json
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/CMakeError.log
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/CMakeRuleHashes.txt
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.17.1/CMakeCCompiler.cmake
build/CMakeFiles/3.17.1/CMakeCXXCompiler.cmake
build/CMakeFiles/3.17.1/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.17.1/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.17.1/CMakeSystem.cmake
build/CMakeFiles/3.17.1/CompilerIdC/a.out
build/CMakeFiles/3.17.1/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.17.1/CompilerIdCXX/a.out
build/CMakeFiles/3.17.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/TensorGraph.dir/build.make
build/CMakeFiles/TensorGraph.dir/cmake_clean.cmake
build/CMakeFiles/TensorGraph.dir/CXX.includecache
build/CMakeFiles/TensorGraph.dir/depend.internal
build/CMakeFiles/TensorGraph.dir/depend.make
build/CMakeFiles/TensorGraph.dir/DependInfo.cmake
build/CMakeFiles/TensorGraph.dir/flags.make
build/CMakeFiles/TensorGraph.dir/link.txt
build/CMakeFiles/TensorGraph.dir/progress.make
build/CMakeFiles/TensorGraph.dir/TensorGraph_autogen/mocs_compilation.cpp.o
build/CMakeFiles/TensorGraph.dir/media/user/36A49AFCA49ABE35/genetic/repo/ConfigReader/src/configreader.cc.o
build/CMakeFiles/TensorGraph.dir/media/user/36A49AFCA49ABE35/genetic/repo/IncludeSpdlog/spdlog.cc.o
build/CMakeFiles/TensorGraph.dir/src/main.cc.o
build/CMakeFiles/TensorGraph.dir/src/mainloop.cc.o
build/CMakeFiles/TensorGraph.dir/src/tensorgraph.cc.o
build/CMakeFiles/TensorGraph_autogen.dir/AutogenInfo.json
build/CMakeFiles/TensorGraph_autogen.dir/AutogenUsed.txt
build/CMakeFiles/TensorGraph_autogen.dir/build.make
build/CMakeFiles/TensorGraph_autogen.dir/cmake_clean.cmake
build/CMakeFiles/TensorGraph_autogen.dir/depend.internal
build/CMakeFiles/TensorGraph_autogen.dir/depend.make
build/CMakeFiles/TensorGraph_autogen.dir/DependInfo.cmake
build/CMakeFiles/TensorGraph_autogen.dir/ParseCache.txt
build/CMakeFiles/TensorGraph_autogen.dir/progress.make
build/TensorGraph_autogen/moc_predefs.h
build/TensorGraph_autogen/mocs_compilation.cpp
build/TensorGraph_autogen/UVLADIE3JM/moc_mainloop.cpp
build/TensorGraph_autogen/UVLADIE3JM/moc_tensorgraph.cpp
build/bin/config.json
build/bin/TensorGraph
